<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.check_nullability">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlyhs</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="QuanLy.Diem17hcbCtt012" />
        <mapping class="QuanLy.Lop17hcb" />
        <mapping class="QuanLy.Tbk17hcb" />
        <mapping class="QuanLy.LoginAdmin" />
        <mapping class="QuanLy.Diem17hcbCtt011" />
        <mapping class="QuanLy.Tkb18hcb" />
        <mapping class="QuanLy.Lop18hcb" />
        <mapping class="QuanLy.NgayPhuckhao" />
        <mapping class="QuanLy.Diem18hcbCtt001" />
        <mapping class="QuanLy.LoginStudent" />
        <mapping class="QuanLy.Diem18hcbCtt002" />
        <mapping class="QuanLy.ThongtinPhuckhao" />
        <mapping class="QuanLy.18hcbCtt002" />
        <mapping class="QuanLy.17hcbCtt012" />
        <mapping class="QuanLy.17hcbCtt011" />
        <mapping class="QuanLy.18hcbCtt001" />
    </session-factory>
</hibernate-configuration>
